body {
    font-family: bold italic;
    background-color: blue;
    margin-top: 800px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 400%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

body {
    font-family: serif;
    background-color: #454561;
    margin-top: 110px;
}

style.css:1
body {
    font-family: bold italic;
    background-color: #ff2e2e;
    margin-top: 800px;